/* google font link */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jockey+One&display=swap");

* {
  font-family: "Inter", sans-serif;
}

h1,
span {
  font-family: "Jockey One", sans-serif;
}

span,
.title {
  letter-spacing: 4px;
}

.bus_icon {
  color: #2d5527;
}

.hero_section {
  background-image: url("../imgs/hero.png");
  height: 480px;
  width: 100%;
  background-position: right;
  background-size: cover;
  object-fit: cover;
}

#search {
  border-bottom: 2px solid #fff;
}

#search::placeholder {
  color: #ddd;
}
